@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /*height or width applied to whole element, including borders*/
    box-sizing: border-box;
}


body {
    background: url("../images/bg-image.jpg");
}

header {
    text-align: center;
    background: rgba(85, 0, 119, 0.5);
    padding: 35px 4%;
    /* border-style: solid;
    border-width: 20px;
    border-color: rgba(255, 255, 255, 0.5); */
}

footer {
    background: rgba(85, 0, 119, 0.5);
}

h1 {
    text-align: center;
    color: aquamarine;
    text-shadow: 5px 10px rgb(85, 0, 85);
    font-size: 500%;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    padding-bottom: 0;
}

header p {
    color: whitesmoke;
    font-size: 300%;
    font-family: 'Bad Script', cursive;
    transform: rotate(-5deg);
    padding-top: 0;
}

.startQuiz {
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
}

.startQuiz button,
#btnCheckAnswer,
#btnNextQuestion {
    background-color: antiquewhite;
    padding: 15px 30px;
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: outset;
    border-width: 2px;
    border-color: blueviolet;
    transition: all 0.5s;
    display: inline-flex;position: relative;
}

.startQuiz {
    visibility: visible;
}

.startQuiz button {
    align-self: center;
    margin: 0 auto;
}

#btnNextQuestion {
    margin-left: 25%;
}

.startQuiz button:hover,
#btnCheckAnswer:hover,
#btnNextQuestion:hover {
    cursor: pointer;
    background-color: aquamarine;
    border-color: whitesmoke;
}

.count {
    margin: 0 auto;
    /* align-self: center; */
    width: 70%;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.count p {
    font-family: 'Bad Script', cursive;
    text-align: center;
    background-color: aliceblue;
    /* display: flex;
    flex-direction: row; */
    /* gap: 20px; */
    padding: 0 60px;
}

#question {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 5% 40px 10%;
    font-family: 'Bad Script', cursive;
    font-size: 150%;
    font-weight: 600;
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    border-style:outset;
    border-width: 2px;
    border-color: aquamarine;
}

/* #question ul {
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
} */

#question li {
    padding: 0 5% 0 10%;
    /* text-align: center; */
    list-style-type: none;
}

label {
    padding-left: 15px;
}

