@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Roboto+Condensed:wght@300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /*height or width applied to whole element, including borders*/
    box-sizing: border-box;
}


body {
    background: url("../images/bg-image.jpg");
}

header {
    text-align: center;
    background-color: rgba(0, 28, 59, 0.7);
    padding: 35px 4%;
    /* border-style: solid;
    border-width: 20px;
    border-color: rgba(255, 255, 255, 0.5); */
}

footer {
    background: rgba(85, 0, 119, 0.5);
}

h1 {
    text-align: center;
    color: aquamarine;
    text-shadow: 5px 10px rgb(85, 0, 85);
    font-size: 500%;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    padding-bottom: 0;
}

header p {
    color: whitesmoke;
    font-size: 300%;
    font-weight: 600;
    font-family: 'Bad Script', cursive;
    transform: rotate(-5deg);
    padding-top: 0;
}

.startQuiz,
.restartQuiz {
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
}

.startQuiz button,
#btnCheckAnswer,
#btnNextQuestion,
.restartQuiz button {
    background-color: antiquewhite;
    padding: 15px 30px;
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: outset;
    border-width: 2px;
    border-color: blueviolet;
    transition: all 0.5s;
    display: inline-flex;
    position: relative;
}

.startQuiz {
    visibility: visible;
}

.restartQuiz {
    visibility: hidden;
    display: none;
}

.startQuiz button,
.restartQuiz button {
    align-self: center;
    margin: 0 auto;
}

#btnNextQuestion {
    margin-left: 25%;
    display: none;
}

.startQuiz button:hover,
#btnCheckAnswer:hover,
#btnNextQuestion:hover,
.restartQuiz button:hover {
    cursor: pointer;
    background-color: aquamarine;
    border-color: whitesmoke;
}

#btnCheckAnswerDisabled {
    background-color: antiquewhite;
    padding: 15px 30px;
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: outset;
    border-width: 1px;
    border-color: blueviolet;
    transition: all 0.5s;
    display: inline-flex;
    position: relative;
}

.count {
    margin: 0 auto;
    /* align-self: center; */
    width: 70%;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-style:outset;
    border-width: 2px;
    border-color: aquamarine;
    background-color: rgba(255, 255, 255, 0.9);

}

.count p {
    font-family: 'Bad Script', cursive;
    text-align: center;
    font-size: 1.4rem;
    /* display: flex;
    flex-direction: row; */
    /* gap: 20px; */
    padding: 0 60px;
}

#correct {
    color: darkgreen;
    font-weight: 800;
    font-size: 1.4rem;
}

#incorrect {
    color: darkred;
    font-weight: 800;
    font-size: 1.4rem;
}

#question {
    display: none;
    background-color: rgba(0, 28, 59, 0.7);
    padding: 40px 8% 40px 8%;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    width: 70%;
    margin: 0 auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-style:outset;
    border-width: 2px;
    border-color: aquamarine;
    border-bottom: none;
    color: whitesmoke;

}

#question ul {
    margin: 25px auto;
}

#question li {
    padding: 10px 5% 10px 10%;
    /* text-align: center; */
    list-style-type: none;
    color: whitesmoke;
}

label {
    padding-left: 15px;
}

.finalMsg {
    text-align: center !important;
    color: whitesmoke;
    font-size: 120%;
}

