@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Roboto+Condensed:wght@300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /*height or width applied to whole element, including borders*/
    box-sizing: border-box;
}


body {
    background: url("../images/bg-image.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgba(0, 28, 59, 0.7);
    display: none;
    padding: 15px 4%;
    visibility: hidden;
}

nav p {
    color: whitesmoke;
    font-size: 150%;
    font-weight: 500;
    font-family: 'Bad Script', cursive;
    transform: rotate(-5deg);
    padding-top: 0;
    text-align: left !important;
}

header {
    text-align: center;
    background-color: rgba(0, 28, 59, 0.7);
    padding: 8vh 4%;
    height: 50vh;
}

footer {
    background-color: rgba(0, 28, 59, 0.7);
    /* position:absolute;
    bottom:0px; */
    width: 100%;
    padding: 30px;
    margin-top: auto;
}

h1 {
    text-align: center;
    color: aquamarine;
    text-shadow: 5px 10px rgb(85, 0, 85);
    font-size: 500%;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    padding-bottom: 0;
}

header p {
    color: whitesmoke;
    font-size: 300%;
    font-weight: 600;
    font-family: 'Bad Script', cursive;
    transform: rotate(-5deg);
    padding-top: 0;
}

.startQuiz,
.restartQuiz {
    padding: 70px 0 auto;
    margin: 0 auto;
    text-align: center;
}


.startQuiz button,
#btnCheckAnswer,
#btnNextQuestion,
.restartQuiz button,
#goToHomePage {
    background-color: aquamarine;
    padding: 15px 30px;
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(85, 0, 85);
    transition: all 0.5s;
    position: relative;
    text-align: center;
}

#navRestartBtn {
    position: absolute;
    right: 4%;
    top: 20px;
    text-decoration: none;
    padding: 7px 15px;
    color: black;
    background-color: rgb(169, 255, 226);
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(85, 0, 85);
    transition: all 0.5s;
    text-align: center;
}

.startQuiz {
    visibility: visible;
}

.startQuiz button,
#goToHomePage {
    margin: -40px auto auto!important;
    width: 240px;
    font-size: 1.8rem;
}

#goToHomePage a {
    text-decoration: none;
    width: 240px;
    color: black;
}

.restartQuiz {
    visibility: hidden;
    display: none;
}

.restartQuiz button {
    margin: 0 auto;
    width: 220px;
    font-size: 1.8rem;
}

#btnNextQuestion {
    margin-left: 50px;
    display: none;
}

.startQuiz button:hover,
#btnCheckAnswer:hover,
#btnNextQuestion:hover,
.restartQuiz button:hover,
#navRestartBtn:hover,
#goToHomePage:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border-color: aquamarine;
}

#btnCheckAnswerDisabled {
    background-color: antiquewhite;
    padding: 15px 30px;
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: outset;
    border-width: 1px;
    border-color: rgb(85, 0, 85);
    transition: all 0.5s;
    position: relative;
}

#question {
    display: none;
    background-color: rgba(0, 28, 59, 0.7);
    padding: 50px 8%;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    width: 70%;
    margin: 15vh auto 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-style:outset;
    border-width: 2px;
    border-color: aquamarine;
    border-bottom: none;
    color: whitesmoke;
}

#questionNum {
    font-family: 'Bad Script', cursive;
    font-size: 180%;
    color: aquamarine;
    font-weight: 500;
}

#question ul {
    margin: 25px auto 0;
}

#question li {
    padding: 10px 5% 10px 10%;
    /* text-align: center; */
    list-style-type: none;
    color: whitesmoke;
}

label {
    padding-left: 15px;
}

input[type=radio]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-clip: content-box;
    /* border: 2px solid aquamarine; */
    background-color: whitesmoke;
}
  
input[type="radio"]:checked {
    background-color: rgb(85, 0, 85);
    border: 2px solid aquamarine;
}

.count {
    margin: 0 auto 15vh;
    width: 70%;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-style:outset;
    border-width: 2px;
    border-color: aquamarine;
    background-color: rgba(255, 255, 255, 0.9);
}

.count p {
    font-family: 'Bad Script', cursive;
    text-align: center;
    font-size: 1.4rem;
    padding: 0 60px;
}

#correct {
    color: darkgreen;
    font-weight: 800;
    font-size: 1.7rem;
}

#incorrect {
    color: darkred;
    font-weight: 800;
    font-size: 1.7rem;
}

.btnsDiv {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.finalMsg {
    text-align: center !important;
    color: whitesmoke;
    font-size: 120%;
    font-family: 'Bad Script', cursive;
    font-weight: 600;
}

/*** FOOTER social media*****/


footer .fab,
footer .fa {
    color: #F3F1F1;
    padding: 0 30px;
    font-size: 30px;
    transition: all 0.15s linear;
}

footer .fab:hover,
footer .fa:hover {
    color: aquamarine;
    transform: scale(1.1);
    rotate: -7deg;
}

footer .social_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 0px;
}


/* X-SMALL to LARGE MOBILE *****/
@media only screen and (max-width: 576px) {

    header {
        padding: 25vh 4%;
        height: 75vh;
    }
    
    h1 {
        font-size: 360%;
        font-weight: 400;
        padding: 0 20px;
    }

    header p {
        font-weight: lighter;
    }

    #navRestartBtn {
        top: 70px;
    }
    
    
    #question {
        width: 95%;
    }

    .count {
        width: 95%;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        flex-direction: column !important;    
    }

    .count p {
        text-align: center;
        font-size: 1.4rem;
        padding: 0 30px;
    }

    .btnsDiv {
        display: flex;
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;
    }

    #btnNextQuestion{
        margin: 40px 0 0 0;
    }

    footer .social_media {
        flex-direction: column;
    }

    footer .fab,
    footer .fa {
    padding: 30px;
    font-size: 30px;
    transition: all 0.15s linear;
}

    
}


/** MEDIUM DEVICES - TABLETS PORTRAIT **/
@media only screen and (min-width: 577px) and (max-width: 768px){

    header {
        padding: 10vh 4% ;
    }

    .count {
        display: flex;
        flex-direction: column;    
        flex-wrap: wrap;
    }

    .btnsDiv {
        display: flex;
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;
    }

    #btnCheckAnswer,
    #btnCheckAnswerDisabled {
        width: 80%;
        margin: 0 auto;
    }

    #btnNextQuestion{
        margin: 40px auto;
        width: 80%;
    }

}


/** LARGE TABLETS - LANDSCAPE **/
@media only screen and (min-width: 767px) and (max-width: 992px) {

    #question {
        width: 85%;
    }

    .count {
        width: 85%;
    }


}

